.correct{
  background:lime;
}

.incorrect{
  background:red;
}

body{
  background:lightgrey;
  font-family: "Times New Roman", Times, serif;
}
audio {
  display: none;
}
ol {
  padding: 20px;
  background: #cce5ff;
  border-radius: 15px;
  width: 200px;
}
li {
  padding: 10px;
}
input {
  padding: 0px;
}